# **Matematiksel İşlemler ve Basit Özellik Çıkarımı**

In [30]:
 metin="""
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer’s Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""
#noisy text
metin

'\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer’s Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches'

In [0]:
v_metin=metin.split("\n")

In [32]:
import pandas as pd
v=pd.Series(v_metin)
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                     A Case, of Identity33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer’s Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [33]:
metin_vektörü=v[1:len(v)]
metin_vektörü

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                     A Case, of Identity33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer’s Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [34]:
mdf=pd.DataFrame(metin_vektörü, columns=["hikayeler"])
mdf

                                hikayeler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                   A Case, of Identity33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer’s Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

**Harf/Karakter Sayısı**

In [0]:
o_df=mdf.copy()

In [36]:
o_df["hikayeler"].str.len()

1     24
2     23
3     21
4     28
5     21
6     29
7     35
8     34
9     37
10    35
11    34
12    35
Name: hikayeler, dtype: int64

In [0]:
o_df["harf_sayisi"]=o_df["hikayeler"].str.len()

In [38]:
o_df

                                hikayeler  harf_sayisi
1                A Scandal in Bohemia! 01           24
2                 The Red-headed League,2           23
3                   A Case, of Identity33           21
4            The Boscombe Valley Mystery4           28
5                   The Five Orange Pips1           21
6           The Man with? the Twisted Lip           29
7     The Adventure of the Blue Carbuncle           35
8      The Adventure of the Speckled Band           34
9   The Adventure of the Engineer’s Thumb           37
10    The Adventure of the Noble Bachelor           35
11     The Adventure of the Beryl Coronet           34
12    The Adventure of the Copper Beeches           35

**Kelime Sayısı**

In [0]:
a="scandal in a bohemia"

In [40]:
a.split()

['scandal', 'in', 'a', 'bohemia']

In [41]:
len(a.split())

4

In [42]:
o_df.iloc[0:1,0:1]

                  hikayeler
1  A Scandal in Bohemia! 01

In [0]:
o_df["kelime_sayisi"]=o_df["hikayeler"].apply(lambda x:len(str(x). split(" ")))

In [44]:
o_df

                                hikayeler  harf_sayisi  kelime_sayisi
1                A Scandal in Bohemia! 01           24              5
2                 The Red-headed League,2           23              3
3                   A Case, of Identity33           21              4
4            The Boscombe Valley Mystery4           28              4
5                   The Five Orange Pips1           21              4
6           The Man with? the Twisted Lip           29              6
7     The Adventure of the Blue Carbuncle           35              6
8      The Adventure of the Speckled Band           34              6
9   The Adventure of the Engineer’s Thumb           37              6
10    The Adventure of the Noble Bachelor           35              6
11     The Adventure of the Beryl Coronet           34              6
12    The Adventure of the Copper Beeches           35              6

**Özel Karakterleri Yakalamak & Saydırmak**

In [48]:
o_df["hikayeler"].apply(lambda x: len([x for x in x.split() if x.startswith("Adventure")]))

1     0
2     0
3     0
4     0
5     0
6     0
7     1
8     1
9     1
10    1
11    1
12    1
Name: hikayeler, dtype: int64

In [0]:
o_df["ozel_karakter_sayisi"]=o_df["hikayeler"].apply(lambda x: len([x for x in x.split() if x.startswith("Adventure")]))

In [50]:
o_df

                                hikayeler  ...  ozel_karakter_sayisi
1                A Scandal in Bohemia! 01  ...                     0
2                 The Red-headed League,2  ...                     0
3                   A Case, of Identity33  ...                     0
4            The Boscombe Valley Mystery4  ...                     0
5                   The Five Orange Pips1  ...                     0
6           The Man with? the Twisted Lip  ...                     0
7     The Adventure of the Blue Carbuncle  ...                     1
8      The Adventure of the Speckled Band  ...                     1
9   The Adventure of the Engineer’s Thumb  ...                     1
10    The Adventure of the Noble Bachelor  ...                     1
11     The Adventure of the Beryl Coronet  ...                     1
12    The Adventure of the Copper Beeches  ...                     1

[12 rows x 4 columns]

**Sayıları Yakalamak ve Saydırmak**

In [51]:
mdf["hikayeler"].apply(lambda x: len([x for x in x.split() if x.isdigit()]))

1     1
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
Name: hikayeler, dtype: int64

In [0]:
o_df["sayi_sayisi"]=mdf["hikayeler"].apply(lambda x: len([x for x in x.split() if x.isdigit()]))

In [53]:
o_df

                                hikayeler  ...  sayi_sayisi
1                A Scandal in Bohemia! 01  ...            1
2                 The Red-headed League,2  ...            0
3                   A Case, of Identity33  ...            0
4            The Boscombe Valley Mystery4  ...            0
5                   The Five Orange Pips1  ...            0
6           The Man with? the Twisted Lip  ...            0
7     The Adventure of the Blue Carbuncle  ...            0
8      The Adventure of the Speckled Band  ...            0
9   The Adventure of the Engineer’s Thumb  ...            0
10    The Adventure of the Noble Bachelor  ...            0
11     The Adventure of the Beryl Coronet  ...            0
12    The Adventure of the Copper Beeches  ...            0

[12 rows x 5 columns]