**Metin Ön İşleme**

In [1]:
metin="""
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer’s Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""
#noisy text
metin

'\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer’s Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches'

**Stringi df/array/seriye çevirme**

In [2]:
metin.split()

['A',
 'Scandal',
 'in',
 'Bohemia!',
 '01',
 'The',
 'Red-headed',
 'League,2',
 'A',
 'Case,',
 'of',
 'Identity33',
 'The',
 'Boscombe',
 'Valley',
 'Mystery4',
 'The',
 'Five',
 'Orange',
 'Pips1',
 'The',
 'Man',
 'with?',
 'the',
 'Twisted',
 'Lip',
 'The',
 'Adventure',
 'of',
 'the',
 'Blue',
 'Carbuncle',
 'The',
 'Adventure',
 'of',
 'the',
 'Speckled',
 'Band',
 'The',
 'Adventure',
 'of',
 'the',
 'Engineer’s',
 'Thumb',
 'The',
 'Adventure',
 'of',
 'the',
 'Noble',
 'Bachelor',
 'The',
 'Adventure',
 'of',
 'the',
 'Beryl',
 'Coronet',
 'The',
 'Adventure',
 'of',
 'the',
 'Copper',
 'Beeches']

In [5]:
metin.split("\n")

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 'The Adventure of the Engineer’s Thumb',
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [0]:
v_metin=metin.split("\n")

In [7]:
import pandas as pd
v=pd.Series(v_metin)
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                     A Case, of Identity33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer’s Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [8]:
metin_vektörü=v[1:len(v)]
metin_vektörü

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                     A Case, of Identity33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer’s Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [0]:
mdf=pd.DataFrame(metin_vektörü, columns=["hikayeler"])

In [10]:
mdf

                                hikayeler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                   A Case, of Identity33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer’s Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

**Büyük-Küçük Harf**

In [0]:
d_mdf=mdf.copy()

In [12]:
d_mdf

                                hikayeler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                   A Case, of Identity33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer’s Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [0]:
list1=[1,2,3]

In [0]:
str1=" ".join(str(i) for i in list1)

In [15]:
str1

'1 2 3'

In [0]:
d_mdf=d_mdf["hikayeler"].apply(lambda x:" ".join(x.lower() for x in x.split()))

In [17]:
d_mdf

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                     a case, of identity33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer’s thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: hikayeler, dtype: object

**Noktalama İşaretlerinin Silinmesi**

In [0]:
d_mdf=pd.DataFrame(d_mdf, columns=["hikayeler"])

In [19]:
d_mdf=d_mdf["hikayeler"].str.replace("[^\w\s]","")
d_mdf

1                  a scandal in bohemia 01
2                    the redheaded league2
3                     a case of identity33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: hikayeler, dtype: object

**Sayıların Silinmesi**

In [20]:
d_mdf=d_mdf.str.replace("\d","")
d_mdf

1                    a scandal in bohemia
2                     the redheaded league
3                       a case of identity
4              the boscombe valley mystery
5                     the five orange pips
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: hikayeler, dtype: object

**Stopwords** 
Durma kelimeleri veya sık kullanılan kelimeler

In [0]:
d_mdf=pd.DataFrame(d_mdf, columns=["hikayeler"])

In [22]:
!pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk) (1.12.0)

In [23]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [0]:
from nltk.corpus import stopwords

In [0]:
sw=stopwords.words("english")

In [26]:
sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [65]:
d_mdf["hikayeler"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: hikayeler, dtype: object

In [0]:
d_mdf=d_mdf["hikayeler"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

**Az Geçen Kelimelerin Silinmesi**

In [0]:
d_mdf=pd.DataFrame(d_mdf, columns=["hikayeler"])

In [29]:
pd.Series(" ".join(d_mdf["hikayeler"]).split()).value_counts()

adventure    6
band         1
case         1
mystery      1
speckled     1
noble        1
identity     1
man          1
twisted      1
blue         1
beryl        1
league       1
lip          1
beeches      1
copper       1
bachelor     1
redheaded    1
carbuncle    1
orange       1
scandal      1
valley       1
boscombe     1
thumb        1
bohemia      1
coronet      1
engineers    1
pips         1
five         1
dtype: int64

In [30]:
sil=pd.Series(" ".join(d_mdf["hikayeler"]).split()).value_counts()[-3:]
sil

engineers    1
pips         1
five         1
dtype: int64

In [31]:
d_mdf["hikayeler"].apply(lambda x: " ".join(x for x in x.split() if x not in sil))

1              scandal bohemia
2             redheaded league
3                case identity
4      boscombe valley mystery
5                       orange
6              man twisted lip
7     adventure blue carbuncle
8      adventure speckled band
9              adventure thumb
10    adventure noble bachelor
11     adventure beryl coronet
12    adventure copper beeches
Name: hikayeler, dtype: object

**Tokenization**

In [32]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [33]:
!pip install textblob

Requirement already satisfied: textblob in /usr/local/lib/python3.6/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.6/dist-packages (from textblob) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk>=3.1->textblob) (1.12.0)

In [0]:
import textblob
from textblob import TextBlob

In [35]:
TextBlob(d_mdf["hikayeler"][1]).words   #listeye ayrıştırıyor.

WordList(['scandal', 'bohemia'])

In [36]:
d_mdf["hikayeler"].apply(lambda x: TextBlob(x).words) #listeye ayrıştırıyor. bütün hepsine de apply ve lambda yardımcı oluyor

1                [scandal, bohemia]
2               [redheaded, league]
3                  [case, identity]
4       [boscombe, valley, mystery]
5              [five, orange, pips]
6               [man, twisted, lip]
7      [adventure, blue, carbuncle]
8       [adventure, speckled, band]
9     [adventure, engineers, thumb]
10     [adventure, noble, bachelor]
11      [adventure, beryl, coronet]
12     [adventure, copper, beeches]
Name: hikayeler, dtype: object

**Stemming**

In [0]:
#kelimelerin sonundaki takıları atma
from nltk.stem import PorterStemmer
st=PorterStemmer()

In [39]:
d_mdf["hikayeler"].apply(lambda x: " ".join([st.stem(i) for i in x.split()]))

1            scandal bohemia
2              redhead leagu
3                 case ident
4     boscomb valley mysteri
5             five orang pip
6              man twist lip
7     adventur blue carbuncl
8       adventur speckl band
9       adventur engin thumb
10    adventur nobl bachelor
11    adventur beryl coronet
12     adventur copper beech
Name: hikayeler, dtype: object

**Lemmatization**

In [42]:
from textblob import  Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [41]:
d_mdf["hikayeler"].apply(lambda x: " ".join([Word(i).lemmatize() for i in x.split()]))

1              scandal bohemia
2             redheaded league
3                case identity
4      boscombe valley mystery
5              five orange pip
6              man twisted lip
7     adventure blue carbuncle
8      adventure speckled band
9     adventure engineer thumb
10    adventure noble bachelor
11     adventure beryl coronet
12      adventure copper beech
Name: hikayeler, dtype: object

In [43]:
mdf["hikayeler"][0:5]  #ilk hali

1        A Scandal in Bohemia! 01
2         The Red-headed League,2
3           A Case, of Identity33
4    The Boscombe Valley Mystery4
5           The Five Orange Pips1
Name: hikayeler, dtype: object

In [44]:
d_mdf["hikayeler"][0:5]  #son hali

1            scandal bohemia
2           redheaded league
3              case identity
4    boscombe valley mystery
5           five orange pips
Name: hikayeler, dtype: object